#img1, #img2, #img3, #img4 {
    padding: 30px;
    margin-left: 30px;
}

h1 {
    margin-left: 30px;
    padding: 30;
}
#project1 {
    background-color: lightblue;
    width: fit-content;
    padding: 50px;
}

.responsive {
    max-width: 100%;
}

#Password-Generator {
    background-color: lightblue;
    width: fit-content;
    padding: 50px;
}

#Weather-Dashboard {
    background-color: lightblue;
    width: fit-content;
    padding: 50px;
}